<div class="padding-zero">
	<footer class="footer">
		<p class="footer-company-name">
			Movie Explorer &copy; 2018
			<a class="terms-and-conditions" [routerLink]="['/terms-and-conditions']" target="_blank"><i class="fa fa-info-circle"></i></a>
		</p>
		<div class="social-icons">
			<a class="social-icon" href="https://www.facebook.com/sunny.rai.9615" target="_blank">
		    	<i class="fa fa fa-facebook" aria-hidden="true"></i>
		    </a>
		    <a class="social-icon" href="https://github.com/sunnyrai31/" target="_blank">
		    	<i class="fa fa-github" aria-hidden="true"></i>
		    </a>
		    <a class="social-icon" href="https://plus.google.com/u/0/+sunnyrainitian" target="_blank">
		    	<i class="fa fa-google-plus" aria-hidden="true"></i>
		    </a>
		    <a class="social-icon" href="https://www.linkedin.com/in/sunny-rai-1b705344/" target="_blank">
		    	<i class="fa fa-linkedin" aria-hidden="true"></i>
		    </a>
		</div>
	</footer>
</div>
 